/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1000px;
}

.btn-primary .color-white,
.btn-primary .color-white a {
  color: white !important;
  text-decoration: none;
}

.btn-success .color-white,
.btn-success .color-white a {
  color: white !important;
  text-decoration: none;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
}

.container h1 {
  margin-bottom: 15px;
}

.te {
  width: 800px;
}
